---
---
@import "no-style-please";

html {
    --light-color: rgb(247, 247, 247);
    --dark-color: rgb(8, 8, 8);
}

body {
    --background-color: var(--light-color);
    --text-color: var(--dark-color);
    --link-color: blue;
    --link-visited: purple;
}

body[appearance="dark"] {
    --background-color: var(--dark-color);
    --text-color: var(--light-color);
    --link-color: limegreen;
    --link-visited: green;
}

@media (prefers-color-scheme: dark) {
    body[appearance="auto"] {
        --background-color: var(--dark-color);
        --text-color: var(--light-color);
        --link-color: limegreen;
        --link-visited: green;
    }
}

body,
img {
    filter: none !important;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

a:link {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited);
}

.w>a,
a.permalink {
    color: var(--link-color);
}

.icon {
    color: var(--text-color);
    height: 16px;
    margin-bottom: -4px;
}

pre {
    margin: 0;
}

code {
    background: unset;
    color: unset;
}

.highlight {
    padding: 1rem;
    line-height: 1.2;
}

.highlighter-rouge {
    padding: 0.2rem 0.4rem;
}
